body{
    margin: 0;
    padding: 0;
    background-color: #F9F9F9 !important;
}
.btn-new-primary {
    background: linear-gradient(to right bottom, #2eaafa, #0a8be5, #006dce, #0e4eb4, #1f2f98);
	border: 1px solid #2EAAFA;
}

#login{
	margin-top: 10rem;
    position: relative;
    right: 0 !important;

}
#contant{
	margin-top: 8rem !important;
}
#contant h1{
	font-weight: 600; 
	font-size: 9rem;
	color: #0069D9;
	font-family: 'Montserrat', sans-serif;
}
#contant h2{ 
	font-size: 1.6rem;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}
#contant p{ 
	font-size: 4.5rem;
	font-weight: 500;
	margin: 0 !important;
	font-family: 'Montserrat', sans-serif;
}


.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.btn-block {
	padding: .8rem 10rem !important;
}
.footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
    position: relative !important;
    bottom: 1% !important;
}


@media screen and (max-width:1400px){
    #login{
        margin-top: 5rem;
    }
    #contant{
        margin: 4rem 0 0 0 !important;
    }
	#contant h1{
		font-weight: 600;
        font-size: 8rem;
	}
	#contant h2{ 
		font-size: 1.4rem;
	}
	#contant p{ 
		font-size: 3.3rem;
	}
	
}

@media screen and (max-width:995px){
	#login{
		margin-top: 1rem;
	}
    #contant{
        margin: 1rem auto 0 !important;
    }
	#contant h1{
		font-weight: 600; 
		font-size: 4rem;
	}
	#contant h2{ 
		font-size: .8rem;
		padding-left: 0;
	}
	#contant p{ 
		font-size: 1.8rem;
		margin: 0 !important;
	}
	
}
@media screen and (max-width:768px){
	#login{
		margin-top: 1rem !important;
	}
	#contant h1{
		font-weight: 600; 
		font-size: 3rem;
	}
	#contant h2{ 
		font-size: .8rem;
	}
	#contant p{ 
		font-size: 1.8rem;
	}
	
}

@media screen and (max-width: 425px) {
	/* .my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	} */
    #contant{
        text-align: center;
    }
	#contant h1{
		font-weight: 600; 
		font-size: 3rem;
	}
	#contant h2{ 
		font-size: .8rem;
		padding-left: 0;
	}
	#contant p{ 
		font-size: 2rem;
	}
	#login{
		margin: 0px;
	}
}

@media screen and (max-width: 320px) {
	/* .my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	} */
	#contant h1{ 
		font-size: 1.3rem;
	}
	#contant h2{ 
		font-size: .6rem;
	}
	#contant p{ 
		font-size: 1.3rem;
		/* margin: 0 !important; */
	}
}

